@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

.mdxeditor button > span {
  p {
    color: black;
  }
  color: black;
}

@layer utilities {
  .prose {
    --tw-prose-hr: #696b6e; /* custom border color */
  }
  .prose .dark {
    --tw-prose-hr: #e5e7eb; /* custom border color */
  }
  .prose {
    li {
      font-size: large;
    }
  }
}
