@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "tailwindcss/preflight.css" layer(base);
@font-face {
  font-family: "Nabla";
  src: url("./assets/fonts/Nabla-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
